<!DOCTYPE>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Omar Hisham</title>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
      #banner {
        height: 600px;
        width: 100%;
        object-fit: cover;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1 class="text-center mt-2 mb-4">Welcome to my website!</h1> 
      <img class="img-fluid" id="banner" src="https://cf5b9ce2-1358-4574-b501-6e73f755107c-00-1p1roun3817r2.janeway.replit.dev//static/banner.jpg"  >
      <h2 class="text-center mt-2 mb-4"> About Omar Hisham </h2>
      <p class="lead">
        I am Omar Hisham, a dedicated Aerospace and Aeronautical Engineering graduate from Cairo University, achieving a BSc with honors and ranking fifth in my class. My thesis focused on the Attitude Determination and Control Subsystem (ADCS), showcasing strong technical foundations and research capabilities. Throughout my academic journey, I gained practical experience including a CanSat Training at the Space Systems Technology Laboratory, where I designed and tested structural components using Solidworks and Ansys. Additionally, I completed internships in aircraft maintenance at Egyptair and in CubeSat development at the Egyptian Space Agency, where I designed an ADCS for IU CubeSat and developed a ground station GUI using MATLAB.
  
        In 2023, I expanded my skills with an Embedded Systems Diploma, specializing in C programming, microcontroller interfacing, and implementing systems such as ADCS for CubeSats. Proficient in programming languages including C, C++, Python, and experienced in modeling and simulation using MPLABX IDE, Proteus, and MATLAB/Simulink, I have successfully executed projects such as CubeSat ADCS development and autopilot systems for fixed-wing aircraft.
  
        Moreover, I have completed online courses in "Introduction to Self-Driving Cars" and "Programming for Everybody (Python)" with perfect scores on Coursera, underscoring my commitment to continuous learning. Fluent in English (B2) and proficient in German (B1), I am well-prepared to contribute effectively in international environments.
  
        Additionally, I completed a Data Analytics Bootcamp where I gained expertise in SQL, Python, Excel, Tableau, and Power BI. This training equipped me with essential skills in data cleaning, exploratory data analysis (EDA), and data visualization, crucial for extracting insights and patterns from complex datasets. My projects included transforming housing data in SQL Server, exploring global COVID-19 data, creating dashboards for projects like Airbnb Sales using Tableau, analyzing bike sales data with Excel, correlating movie variables affecting gross revenue with Python, and scraping Amazon data for price analysis.
  
        My comprehensive skill set, practical experiences, and dedication to continuous improvement position me as a versatile engineer ready to contribute to cutting-edge aerospace, embedded systems, and data analytics projects.
        </p>
      <h3 class="text-center mt-2 mb-4"> Open Positions </h3>
      <div>
        {%for job in jobs%}
          <div class="border-bottom row " style="margin-bottom : 16px; padding: 8px;"" >
            <div class="col-9">
            <h4 style="margin-bottom: 4px; color: rgb(120,120,120) ">{{job['title']}}</h4>
            <div><b>Location:</b> {{job['location']}}</div>
            <div>
              {%if 'salary' in job%}
              <div><b>Salary:</b> {{job['salary']}}</div>
              {%endif%}
           </div>
          </div>
            <div class="col-3">
              <button type="button" class="btn btn-outline-primary">Apply</button>
            </div>
          </div>
        {%endfor%}
      </div>
      <div class="text-center">
        <button class="btn btn-primary btn-lg mt-4">Contact me</button>
      </div>
      <p class="text-center mt-4">Copywrite 2024, Omar Hisham</p>
      </div>
  </body>
  
</html>